<div class="not-found">not found</div>
        <a li-object:href="routes.root_url" href="{{ routes.root_url }}" class="button w-button"><span>
{{ section.settings.text_button_text }}
</span></a> {% schema %} {
    "tag": "header",
    "name": "404",
    "class": "section_404",
    "settings": [
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "return home"
        }
    ],
    "presets": [
        {
            "name": "404",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "404"
        ]
    }
} {% endschema %}