<div class="seq-text-wrapper">
          <div>
{{ section.settings.text_text }}
</div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Sequence: Text",
    "class": "section_seq_text",
    "settings": [
        {
            "id": "text_text",
            "type": "text",
            "label": "Text",
            "default": "Adult doesn\u2019t ask for permission. We design heels for those who know the rules and choose whether to ignore them. Not one - but an embodiment of evolving characters. Your identity is yours to define. Over and over again if you so choose."
        }
    ],
    "presets": [
        {
            "name": "Sequence: Text",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}